body { 
	background-color: #C89F9C;
    margin: 0;
}
 
header {
    height: 50px;
    background-color: #8B625F;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    max-width: 1500px;
}

header p {
    margin: 0;

}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    font-family: "Libre Franklin", sans-serif;
}

header a:hover {
    text-decoration: underline;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

.info {
    display: grid;
    max-width: 1120px;
    margin: auto;
    padding: 120px 20px;
    grid-template-columns: 2fr 2fr;
}

.testo {
    font-size: 55px;
    color: #ffffff;
    line-height: 2.10;
}

.immagine1 img {
    width: 90%;
    border-radius: 50px 50px 50px 50px;
}

section.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 850px;
    margin: 38px auto;
    gap: 100px;
}

section.card h2, section.card p {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

section.card img {
    height: 50vh;
    width: 90%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

section.card h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 16px 16px 0 16px;
}

section.card p {
    font-size: 18px;
    color:#ffffff;
    padding: 0 16px 16px 16px;
}

.calvino {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 120px;
}

.immagine img{ 
    width: 300px;
    height: auto;
    border-radius: 50px 50px 50px 50px;
}

.testo1 h3{
    color: #ffffff;
    font-size: 20px;
    max-width: 800px;
}

.testo1 p{
    color: #ffffff;
    font-size: 15px;
}

.jack {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 120px;
    padding: 50px;
}

.testo2 {
    color: #ffffff;
    font-size: 15px;
}

.immagine2 img {
    width: 300px;
    height: auto;
    border-radius: 50px 50px 50px 50px;
}

.info2 {
    position: relative;
    bottom: 400px;
    position: static;
}

.titolo2 h4 {
    font-size: 32px;
    color: #8B625F;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.testo3 h5 {
    color: #8B625F;
    font-size: 32px;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.testo3 p {
    color: #ffffff;
    font-size: 15px;
    font-family: "Libre Franklin", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}


.copertina {
    max-width: 700px;
    margin: auto;
    display: flex;
    gap: 50px;
    padding: 20px;
}

.immagine3 img {
    width: 200px;
    object-fit: cover;
    border-radius: 50px 50px 50px 50px;
}

.testo4 {
    color: #ffffff;
    font-family: "Libre Franklin", sans-serif;
    position: relative;
    left: 230px;
    bottom: 320px;
}

.titolo3 h6{
    font-size: 32px;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.copertina1 {
    max-width: 700px;
    margin: auto;
    display: flex;
    gap: 50px;
    padding: 20px;
}

.testo5 {
    color: #ffffff;
    font-size: 15px;
    font-family: "Libre Franklin", sans-serif;
}

.immagine4 img {
    width: 200px;
    object-fit: cover;
    border-radius: 50px 50px 50px 50px;
}

.testo6 {
    color: #ffffff;
    font-size: 15px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Libre Franklin", sans-serif;
}

.testo7 {
    color: #ffffff;
    font-size: 15px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Libre Franklin", sans-serif;
}

.libri2 {
    width: 200px; 
    object-fit: cover;
    border-radius: 50px 50px 50px 50px;
   }
   
.center {
    width: 600px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 100px;
    padding: 0 16px;
   }

.testo8 {
    color: #ffffff;
    font-size: 15px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Libre Franklin", sans-serif;
}

.testofinale p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.testofinale h1 {
    color: #8B625F;
    font-size: 30px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    font-size: 14px;
    position: relative;
    top: 100px;
}